<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yt.android.zxing"
    android:installLocation="auto"
    android:versionCode="108"
    android:versionName="4.7.8">

    <application android:allowBackup="true">

        <meta-data
            android:name="screen_width"
            android:value="1080" />
        <meta-data
            android:name="screen_height"
            android:value="1920" />

    </application>

</manifest>
